.modal {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display:flex;
    justify-content: center;
    align-items: center;
}

.modal-container{
    transition: opacity 1s ease-in-out;
    background: rgb(247, 247, 247);
    padding: 20px;
    border-radius: 20px;
    position: relative;
    width: 30%;
    height: 80%;
}

.modal-button{
    cursor: pointer;
}

.modal-body{
    margin-top: 20px;
    display:flex;
    gap: 10px;
    flex-direction: column;
}