.contentBox{
    border-radius: 25px;
    background:#FFFFFF;
    padding: 0.5rem;
    height: 22rem;
    width: 16rem;
}

.contentBox-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contentBox-button:hover{
    cursor:pointer;
}

.contentBox-image{
    background-color:lightgrey;
    height: 10rem;
    width: 14rem;
    margin-left: 1rem;
}

.contentBox-image img{
    height: 10rem;
    width: 14rem;
}

.contentBox-body{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contentBox-body input :focus{
    outline: none;
}

.contentBox-body input{
    width: 25rem;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    border: transparent;
    border-radius: 50px;
    padding: 25px;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: lightgrey;
}

.contentBox-body-plans {
    width:auto;
    max-height: 400px;
    overflow-y: auto;
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: left;
}