.full {
    margin-top: 10%;
}

.image {
    border: 5px solid red;
    Position: absolute;
    right: 0;
    width: 60%;
}

.background {
    border: 5px solid green;
    width: 100%;
}

.container {
    border: 5px solid blue;
    position: absolute;
    margin-left: 0.5%;
}

.text1 {
    border: 5px solid lawngreen;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    margin-top: 0%;
    font-size: clamp(1rem, 1rem + 10vw, 8rem);
}

.text2 {
    border: 5px solid purple;
    font-family: "Allura", cursive;
    font-size: clamp(4rem, 1rem + 10vw, 11rem);
    font-weight: 1;
    vertical-align: text-top;
}

.description p {
    margin-top: -3%;
    min-height: 3em;
    max-width: 53em;
    line-height: 1.2;
    font-size: 23px;
    font-family: 'Arial', sans-serif;
    position: relative;
    /* border: 5px solid lightblue; */
}