
@font-face {
    font-family: "Agreement";
    src: url(./fonts/Agreement.ttf);
  }

@font-face {
  font-family: "Latte";
  src: url(./fonts/Latte.ttf);
}

@font-face {
  font-family: "Allura";
  src: url(./fonts/Allura.ttf);
}