body{
    position: relative;
}

.signup h2{
        margin-left: 7.5rem;
        margin-bottom: 0.7rem;
        font-family: 'Allura', cursive;
        font-size: 5rem;
    }
    
.signup-fields input{
    width: 25rem;
        display: flex;
        flex-direction: column;
        font-size: 20px;
        border-width: 1px;
        border-radius: 20px;
        padding: 25px;
        margin-top: 15px;
        margin-bottom: 20px;
    }


.signup button{
    width: 10rem;
    padding: 10px;
    border-radius: 20px;
    margin-top: 25px;
    margin-left: 9.4rem;
}

.topnav{
    display: flex;
    flex-direction: row;
    align-content: center;
    position: relative;
    margin-left: 48rem;
    margin-top: 1.5rem;
   
}

.topnav a{
    padding-right: 3rem;
    font-size: 30px;
    text-decoration: none;
    color:black;
}

.signup {
   display: flex;
   flex-direction: column;
   position: relative;
   margin-left: 45rem;
   margin-top: 0.6rem;
   float:left;
}


